{% extends "layout.html" %}
{% block content %}
<div class="p-3">
  <h2>Rules and regulations</h2>
  <p>Players will be needed to attempt the answers in Assamese.<br />
    Each player will have 3 chances to attempt the answer and if
    failed the player will lose the game directly resulting to end the game.
    However, the player can restart once again if happened to lose.</p>
  <h2>নিয়ম নীতি</h2>
  <p>খেলুৱৈ সকলে অসমীয়াত উত্তৰ দিবলৈ চেষ্টা কৰিব লাগিব। <br />
    প্ৰত্যেক খেলুৱৈ উত্তৰ দিবৰ বাবে তিনিটাকৈ সুবিধা দিয়া হব। <br />
    যদিহে ব্যৰ্থ হয় তেনেহলে প্ৰত্যক্ষ ভাবে খেলুৱৈ জনে খেলত পোণচাতে হাৰিব যাব। <br />
    যিয়ে নহওঁক খেলুৱৈ জনে পুনৰ খেল আৰম্ভ কৰিব পাৰিব।</p>
</div>
{% endblock %}